<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:s="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>My favourite recipes</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/myFavourites.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/nav-bar.css}">
    <script type="text/javascript" th:src="@{/js/addToFavourites.js}" th:defer="defer"></script>
    <script type="text/javascript" th:src="@{/js/script.js}" th:defer="defer"></script>
    <script type="text/javascript" th:src="@{/js/filterFavouriteSearch.js}" th:defer="defer"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/font-awesome-4.7.0/css/font-awesome.min.css}">
</head>
<body>

<nav class="navbar">
    <div class="navbar-logo">
        <div class="dropdown">
            <div class="hamburger-icon" onclick="toggleDropdown()">
                <img src="https://recept.se/assets/images/menu/hamburger.svg" alt="Logo">
            </div>
            <!-- GÖR OM DIV TILL <a> länkar så att vi skickas till contact.html , about.html och articles.html -->
            <div class="dropdown-menu" id="dropdown-menu">
                <a href="/articles" class="dropdown-menu-item">Articles</a>
                <a href="/about" class="dropdown-menu-item">About us</a>
                <a href="/contact" class="dropdown-menu-item">Contact us</a>
            </div>
        </div>
        <a href="/" class="navbar-brand"> <!-- Add the link to the home page -->
            <img th:src="@{/images/jika-logo-removebg-preview.png}" alt="Logo">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="search">
            <form class="search-form" th:action="@{/search}" method="get">
                <div class="search-icon" onclick="toggleSearchField()">
                    <img src="https://recept.se/assets/images/menu/search.svg" alt="search icon">
                </div>
                <input type="text" class="search-field navbar-search-field" name="searchTerm" placeholder="Search..." onfocus="this.placeholder=''" onblur="this.placeholder='Search...'">
            </form>
        </div>
        <div class="user">
            <div class="user-icon" id="user-icon">
                <img src="https://recept.se/assets/images/icons/user.svg" alt="user icon">
            </div>
            <div class="profile-form" id="profileForm">
                <form action="/logout" method="post" s:authentication="">
                    <a class="profile-dropdown" href="/myProfile">My Profile</a>
                    <a class="profile-dropdown" href="/myFavourites">Favourite Recipes</a>
                    <a class="profile-dropdown" href="/settings">Settings</a>
                    <button type="submit">Log Out</button>
                </form>
            </div>
            <div class="login-form" id="loginForm">
                <form action="/login" method="post">
                    <input type="text" name="username" placeholder="Username" onfocus="this.placeholder=''" onblur="this.placeholder='Username'" required>
                    <input type="password" name="password" placeholder="Password" onfocus="this.placeholder=''" onblur="this.placeholder='Password'" required>
                    <button type="submit">Log in</button>
                </form>
                <a href="/createAccount">Create Account</a>
            </div>
        </div>
    </div>
</nav>
    <div class="favouriteRecipesContainer">
            <h1>Your Favourite Recipes</h1>
        <input type="text" id="searchInput" placeholder="Search...">
            <p th:if="${#lists.isEmpty(favouriteRecipes)}">No favorite recipes found.</p>
        <div class="recipeGrid">
            <div th:each="favRecipe : ${favouriteRecipes}" class="recipeCard">
                <a th:href="@{/recipe/{id}(id=${favRecipe.getRecipe().getRecipeId()})}">
                    <img th:src="${favRecipe.getRecipe().getRecipeImage()}" alt="Recipe image" style="width: 300px; height: 200px;">
                    <h2 th:text="${favRecipe.getRecipe().getRecipeName()}" class="recipeTitle"></h2>
                </a>
                <button class="addToFavorites heart-red" name="addToFavourites" id="addToFavourites"
                        th:attr="data-recipe-id=${favRecipe.getRecipe().getRecipeId()}" onclick="addToFavourites(event)">
                    <i class="fa fa-heart"></i>
                </button>
            </div>
        </div>
    </div>
</body>
</html> 